/**
 * SOW Custom theme for reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/satisfy/satisfy.css);
@import url(../../lib/font/quicksand/quicksand.css);
@import url(../../lib/font/arvo/arvo.css);

// Override theme settings (see ../template/settings.scss)
$mainColor: #eee;
$headingColor: #fff;
$headingTextShadow: none;
$backgroundColor: #293346;
$linkColor: #f5bd35;
$linkColorHover: darken( $linkColor, 10% );
$selectionBackgroundColor: rgba(#999, 0.8);
$heading1TextShadow: 0px;
$headingFont: 'Satisfy', cursive;
$mainFont: 'Quicksand', sans-serif;
//$mainFont: 'Arvo', serif;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Custom Style --------------------------------
figcaption {
	font-size: 16px;
}

#end::before{
	content: "Thank You";
	animation: words ease 8s infinite alternate;
}

@keyframes words {
	0% {
		content: "Thank You";
	}
	10% {
		content: "നന്ദി";
	}
	20% {
		content: "நன்றி";
	}
	30% {
		content: "ಧನ್ಯವಾದ"
	}
	40% {
		content: "ధన్యవాదాలు"
	}
	50% {
		content: "धन्यवाद"
	}
	60% {
		content: "তোমাকে ধন্যবাদ"
	}
	70% {
		content: "આભાર"
	}
	80% {
		content: "धन्यवाद"
	}
	90% {
		content: "ਤੁਹਾਡਾ ਧੰਨਵਾਦ"
	}
	100% {
		content: "Chaya t'not"
	}
}
// ---------------------------------------------